{% extends 'layout.html' %}

{% block body %}

<!--Main Navigation-->
<header>

</header>
{% include 'includes/_messages.html' %}
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5 mb-5">
	<div class="container">
		<h1>Console Log</h1>
		<!-- Card -->
		<div class="card">
			<!-- Card image -->
			<div class="view view-cascade gradient-card-header purple-gradient">
				<!-- Title -->
				<h2 class="card-header-title text-white font-weight-bold ml-4 mt-2">Activity</h2>
			</div>
			<!-- Card content -->
			<div class="card-body" id="log_data">
				<!-- Logs -->
				<p>Hello</p>
				
			</div>

		</div>
		<!-- Card -->

	</div>
</main>
<!--Main layout-->
{% endblock %}
